{{#if books}}
{{#each books as |book| }}
<div>
    <h1>My saved books:</h1>
    <div class="container col-12 d-flex">
        <div class="col-3 container">
            <p>{{book.title}}</p>
            <img id="{{book.id}}" class="img-fluid w-100 mb-3" src="" alt="">
            <button data="{{book.id}}" id="unsaveBtn">Unsave</button>
            <button id="reviewBtn">Review</button>
        </div>
    </div>
    <form id="commentForm" style="display: none;">
        <div id="reviewBox" class="mb-3">
            <label for="review" class="form-label">Review</label>
            <input name="input" type="text" class="form-control" id="reviewText" aria-describedby="reviewText">
        </div>
        <button data="{{book.id}}" id="submitReview" type="submit" class="btn bg-custom">Submit</button>
        <button id="upvote" data="{{book.id}}" type="click" class="btn bg-custom font-weight-bold">🡹</button>
        <button id="downvote" data="{{book.id}}" type="click" class="btn bg-custom font-weight-bold">🡻</button> 
        <p id="displayText"></p>
    </form>
</div>
{{/each}}
{{else}}
<a href="/login">You must save a book first to view this page</a>
{{/if}}

<script src="/js/unsaveBook.js"></script>
<script src="/js/profile.js"></script>