<div class="container col-12 d-flex">
    <div class="col-5 container">
        <img id="custom-img" class="img-fluid w-100 mb-3" src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="harry potter">
        <button>Save Book</button>
    </div>
    <div class="col-7 container">
        <p>{{book.volumeInfo.title}}</p>
        <p>{{book.volumeInfo.authors}}</p>
        <p>{{book.volumeInfo.description}}</p>
        <p>{{book.volumeInfo.publishedDate}}</p>
        <form>
            <div class="mb-3">
                <label for="review" class="form-label">Review</label>
                <input type="text" class="form-control" id="reviewText" aria-describedby="reviewText">
            </div>
            <button id="reviewBtn" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script src="" ></script>